{% extends 'base.html' %} 
{% block title %} Chat Room {% endblock title %}
{% block content %}

<div class="container">
  <div>
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
  </div>

  <br>

  <div class="card">
    <div class="card-body" id="chat-log">
      {% if messages %}
        {% for message in messages %}
          <p><strong>{{ message.author }}:</strong> {{ message.content }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <br>
  <div class="input-group mb-3">
    <input id="chat-message-input" type="text" class="form-control" placeholder="Type message">
    <div class="input-group-append">
      <button id="chat-message-submit" class="btn btn-primary">Send</button>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
  /* Custom styles can be added here */
  .card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .input-group {
    border: 1px solid #ccc;
    border-radius: 10px;
  }
</style>

<script>
  base_url = 'ws://' + window.location.hostname + ':' + window.location.port + '/ws/open_chat/' + "{{ uuid }}" + '/';
  chatSocket = new WebSocket(base_url);

  chatSocket.onmessage = function(event) {
    let parsed = JSON.parse(event.data);
    document.querySelector('#chat-log').innerHTML += '<p><strong>You:</strong> ' + parsed.message + '</p>';
  }

  document.querySelector('#chat-message-submit').onclick = function(e) {
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;
    chatSocket.send(JSON.stringify({
      'message': message
    }));
    messageInputDom.value = '';
  };
</script>

{% endblock content %}
